<?xml version="1.0"?>
<configuration>
  <!-- Specify Configuration Sections -->
  <configSections>
    <!-- Create Log4Net Section -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.92, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <!-- Configure Log4Net -->
  <log4net>
    <!-- Log4Net Console Appenders -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] %-18.18M: - %message%newline" />
      </layout>
    </appender>
    <!-- Log4Net Appenders -->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- Specify log file -->
      <file type="log4net.Util.PatternString">
        <!-- Use converter to get special folder -->
        <converter>
          <name value="folder" />
          <type value="CPC.Converter.SpecialFolderPatternConverter,POS" />
        </converter>
        <!-- Use converter to specify log file -->
        <conversionPattern key="LogsFolder" value="Logs\Log.txt" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <Header value="%newline%[Begin Session - {%username}]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="[%level] %date{MM-dd-yyyy HH:mm:ss.fff} - [%thread] %message [%logger]%newline" />
        <Footer value="%[End Session-{%timestamp}]%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <!-- Log4Net Settings -->
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="POSDBEntities" connectionString="metadata=res://*/Database.POS.csdl|res://*/Database.POS.ssdl|res://*/Database.POS.msl;provider=Npgsql;provider connection string=&quot;Port=5432;Encoding=WIN1252;Server=localhost;Database=pos2013;UserId=postgres;Password=123456&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Project Configuration Sections -->
    <add key="ProjectName" value="Tims POS" />
    <add key="ProjectVersion" value="1.0.0" />
    <add key="ProjectReleaseDate" value="4/18/2012" />
    <!-- Toogle Status -->
    <add key="DisplayLoading" value="1" />
    <add key="DisplayGridNavigatorBar" value="10" />
    <!-- Grid Configuration Sections -->
    <add key="GridTotalPage" value="500" />
    <add key="GuestNoFormat" value="yyMMddHHmmss" />
    <add key="PurchaseOrderNoFormat" value="yyMMddHHmmss" />
    <add key="ProductCodeFormat" value="yyMMddHHmmssfff" />
    <add key="DefaultColorNote" value="#FFFFFF00" />
    <!-- Number ff images  on ImageControl-->
    <add key="MaxNumberOfImages" value="1" />
    <add key="MaxNumberOfNotes" value="4" />
    <!--Using for Create taxcode option -->
    <add key="MaxTaxCodeOption" value="3" />
    <!--Format-->
    <add key="DateFormat" value="MM/dd/yyyy" />
    <add key="IntegerFormat" value="N0" />
    <add key="CurrencyFormat" value="C2" />
    <add key="PercentFormat" value="N" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>