<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="CPC.POSReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
  <system.data>
    <DbProviderFactories>
		<remove invariant="Npgsql" />
		<add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.12.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="POSDBEntities" 
         connectionString="metadata=res://*/Database.POS.csdl|res://*/Database.POS.ssdl|res://*/Database.POS.msl;provider=Npgsql;provider connection string='Port=5432;Encoding=WIN1252;Server=192.168.1.1;Database=pos2013;UserId=postgres;Password=pd4pg9.0'" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
    
  <userSettings>
    <CPC.POSReport.Properties.Settings>
      <setting name="IsRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="AdminUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="AdminPwd" serializeAs="String">
        <value>aXrrCFTdvOaYDeGLj3dmlDkBmsbXmy0yThKtMlV/6zw=</value>
      </setting>
      <setting name="EmailAccount" serializeAs="String">
        <value>testreport@newsmartpos.com</value>
      </setting>
      <setting name="EmailPwd" serializeAs="String">
        <value>+dH0mbhJybkdhMJu4S0sxQ==</value>
      </setting>
    </CPC.POSReport.Properties.Settings>
  </userSettings>
</configuration>
