<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="DualHttpBinding"
                 maxReceivedMessageSize="2147483646"
                 textEncoding="utf-8"
                 messageEncoding="Mtom"
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00"
                 receiveTimeout="00:05:00"
                 sendTimeout="10:00:00">
          <readerQuotas maxDepth="32"
                       maxStringContentLength="5242880"
                       maxArrayLength="2147483646"
                       maxBytesPerRead="4096"
                       maxNameTableCharCount="5242880"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="SynchronizationService.CustomUserNameValidator, Service" />
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior"
               name="SynchronizationService.Service">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://cpcvnc10.cpcvn.com/SyncService" />
          </baseAddresses>
        </host>-->
        <endpoint address="" 
                  bindingConfiguration="DualHttpBinding"
                  binding="wsDualHttpBinding"
                  contract="SynchronizationService.IService"
                  listenUriMode="Explicit">
        </endpoint>
      </service>

    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>
