<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="WPFlashCardDBEntities" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;E:\Kyan DATA\Kyan\Kyan Project\KyanPrj\Sources\WPFlashCardDB.s3db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>